.banner-container{
    width: auto;
    height: 900px;
    background: 
    linear-gradient(to bottom, #f4f4f7, #999fc5), 
    linear-gradient(to right, #add8e6 ,#db91c9e8);
  background-blend-mode: overlay;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 2em;
   
  
}


.banner-box{
    width: 280px;
    height: 45px;
    border: 1px white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: white;
    position: relative; 
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    color: #000; 
    z-index: 1;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 8px; 
}

.banner-box:before {
    content: "";
    position: absolute;
    top: 50%;
    right: -19px;
    left: -19px;
    transform: translateY(-50%);
    height: 45px;
    width: calc(100% + 38px);
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 0 0 29px rgba(209, 211, 237, 0.39);
    z-index: -1; 
    /* Polygon shape for decorative edges */
    -webkit-clip-path: polygon(100% 0, 97% 50%, 100% 100%, 0 100%, 3% 50%, 0 0);
    clip-path: polygon(100% 0, 97% 50%, 100% 100%, 0 100%, 3% 50%, 0 0);
}

.trophy-box{
    
    box-sizing: border-box;
    margin-top: 8rem;

}

.banner-head{
    font-size: 90px;
    font-weight: bolder;
    letter-spacing: -2.5px;
    max-width: 950px;
    line-height: 1.06;
    text-align: center;

}

.banner-text-color {
    background-image: linear-gradient(to right, #3a5bc9, #ca60ce);
    -webkit-background-clip: text;
    color: transparent; 
  }

.banner-card{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 2em;
    transition: transform 0.3s ease;

}
.cards {
  
    transition: transform 0.3s ease; 
  }




.banner-toggle-arrow {
    background-color: transparent; 
    color: transparent; 
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
    transition: transform 0.3s ease, color 0.3s ease, opacity 0.3s ease; 
    opacity: 0; 
}


.banner-toggle-arrow:hover {
    color: #4d4a4a;
    opacity: 1; 
    background-color: rgba(233, 226, 226, 0.699);
    transform: translateX(10px); 
}





















@media screen and (max-width: 1126px){

    .banner-container{
        width: auto;
        height: 900px;

    }

    .banner-head{
        font-size: 50px;
        max-width: 1000px;
    } 
}

@media screen and (max-width: 914px){

    .banner-head{
        max-width: 900px;

    }
    .banner-container{
        width: auto;
        overflow: hidden;
    }

}





@media screen and (max-width: 744px){

    .banner-head{
        max-width: 800px;
    }


}



@media screen and (max-width: 770px){

   

}