.footer-container{
    display: flex;
    flex-direction: column;
    justify-content:center ;
    gap: 5em;
    
  }
  .footer-content{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5.5em;
    margin-top: 4rem;
}
.footer-content-1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2em;
   
}
.footer-para {
    width: 400px;
}
.footer-icons{
    display: flex;
    flex-direction: row;
    gap: 1em;
    font-size: large;
}
.response-icon{
    display: flex;
    flex-direction: column;
    
    gap: 2em;
}
.footer-contact{
    display: flex;
    align-items: center;
    gap: 0.2em;
}


.footer-contact{
    width: 200px;
    height: 50px;
    border: 3px solid rgb(204, 130, 238); /* Transparent border to create space for gradient */
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black; /* Text color */
    font-weight: bold;
    font-size: 14px;
    overflow: hidden; 

}
.content-response{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 4em;
   
}

.footer-content-heading{
    font-size: 20px;
    font-weight: 800;
    color: black;
    line-height: 2;
}
.footer-content li a{
    color: gray;
    line-height: 2;
}
.footer-content-4{
    display: flex;
    flex-direction: column;
   
}
.footer-form{
    display: flex;
    flex-direction: column;
    gap: .5em;
}
.footer-form h5{
    font-size: 16px;
    font-weight: 700;
    line-height: 2;
}
.footer-form p{
    color: gray;
    line-height: 1.5;
    width: 400px;
}

.footer-line-container {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    gap: 2rem; 
}

.line {
    width: 65%; 
    border: none; 
    border-top: 1px solid rgba(0, 0, 0, 0.267); 
    margin: 0; 
}

.footer-last {
    display: flex; 
    gap: 28rem; 
    justify-content: center; 
    color: gray;
}
.terms-of-service{
    display: flex;
    flex-direction: row;
    gap: 1em;
}



/* media query */


@media (max-width:1326px){
    .footer-content{
        gap: 2em;   
    }
    .footer-last {
        gap: 15em; 
    }
}

@media (max-width:1182px){
    .footer-content{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 5.5em;
    }
    
    .content-response{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 8em;
    }
    .response-icon{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 4em;
    }
    .footer-last {
        display: flex; 
        flex-direction: column; 
        gap: 2em;
        align-items: center;
        justify-content: center; 
    }
    .footer-content-4{

        text-align: center;
    }
    .footer-form {
        text-align: center;
    }
    .footer-form p{
        width: 500px;
        text-align: center;
    }
}

@media (max-width:512px){
    .footer-form p{
  
        width: 300px;
        text-align: center;
    }
    .footer-last {
        width: 200px;
    }
    .terms-of-service{
        display: flex;
        flex-direction: column;
        gap: 1em;
        text-align: center;
    }
}

@media (max-width:410px){
    .footer-content-1{
       margin-left: 4rem;  
    }
    .footer-para {
        width: 300px;
    }
    .response-icon{
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 2em;
    }
    .content-response{
 
        gap: 4em;
    }

}