.content-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 8rem;
}
.content-section-items{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3em;

}
.popular-button{
    width: 170px;
    height: 40px;
    background-color: rgb(225, 225, 235);
    color: blue;
    border: 1px white;
    border-radius: 50px;
}

.content-title{
    font-size: 50px;
    font-weight: bolder;
    letter-spacing: -2.5px;
    max-width: 700px;
    line-height: 1.06;
    text-align: center;
}
.content-buttons{
    display: flex;
    flex-direction: row;
    gap: 2em;
}
.popular-item-buttons{
    background-color: white;
    border: 1px white;
    width: 180px;
    height: 70px;
    border-radius: 50px;
    color: rgb(153, 150, 150);
    font-size: 20px;

}
.popular-item-buttons:hover{
    background-color: rgb(67, 110, 204);
    color: white;
}

.content-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 2em;
    width: 1300px;
    height: 140%;
   
  }

  
  .card {
    background-color: white;
    border: 1px white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(27, 27, 27, 0.2);
    overflow: hidden;
    text-align: start;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1em;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out; 
    padding: 0 auto;
  }

  .card:hover {
    transform: translateY(-10px); 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); 
}
  .rating-img{
    width: 100px;
    height: 28px;
    background-color: white;
  }

  .card-image{
    border: 1px solid white;
    border-radius: 5px;
    object-fit: cover;
  }

  
  .rating-container {
    display: flex;
    align-items: center;
    gap: 0.2em;
    margin-top: 2rem;
  }
  

  
  .review-count {
    
    font-size: 14px; 
    color: #555; 
  }
  .bookmark{
    display: flex;
    gap: 9em;
    align-items: center;
    color: black;
    
  }
  .person-book{
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
    gap: 0.8em;
    align-items: center;
  }
  .title{
    font-size: 28px;
    font-weight: 700;
    width: 300px;
  }
  .para-1{
    margin-top: 1rem;
    color: rgb(153, 151, 151);
    width: 300px;

  }
  .para-2{
    margin-top: 0.2rem;
    color: #363535;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.2em;
  }

  .icon-container {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px; 
    height: 40px; 
    border-radius: 50%; 
    background-color: rgb(214, 210, 210); 
    color: white; 
  }
  .pricing{
   margin-top: 1rem;
   font-weight: bold;
  }
  .new-price{
    font-size: 24px;
    color: rgb(102, 101, 101); 
    margin-right: 10px;

  }

  .original-price{
  text-decoration: line-through;
  color: #888; 
  
}
.content-learnmore{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 1rem;
}
.card-end{
  display: flex;
  flex-direction: row;
 
  gap: 10em;
}




/* @media (max-width: 1310px) {

  .content-cards {
   
    width: 1000px;
    height: 100%;
  }
  
  .rating-img{
    width: 80px;
    height: 20px; 
  }
 
  .review-count {
    font-size: 12px; 
  }
  .bookmark{   
    gap: 5em; 
  }
  .person-book{
    font-size: 14px; 
  }
  .title{
    font-size: 24px;
    width: 250px;
  }
  .para-1{
    font-size: 14px; 
    width: 250px;

  }
  .para-2{
    font-size: 14px; 
  }

  .icon-container {
    width: 30px; 
    height: 30px; 
 
  }
  
  .new-price{
    font-size: 20px;

  }

  .original-price{
    font-size: 12px;
  
}
.content-learnmore{
  font-size: 12px;
}
.card-end{
  gap: 5em;
}

} */


@media (max-width: 1310px) {
 
  .content-cards {
    width: 800px;
    height: 160%;
  }

  .card {
    flex-direction: column; 
    align-items: center; 
    justify-content: center;
  }

  .card-image {
    width:350px;
    max-height: 500px; 
    object-fit: cover;
    padding: 30px 10px 10px 10px;
  }  

  .card-content-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
   
  }
  .card-end{
    gap: 8em;
  }
  .bookmark{   
    gap: 8em; 
  }
  .title{
    font-size: 24px;
    font-weight: 700;
    width: 450px;
    padding:0px 50px;
    
  }
  .person-book{
    padding:0px 50px;
    
  }
  .rating-container{
    padding:0px 50px;
  }
  .para-1{
    padding:0px 50px;
  }
  .para-2{
    padding:0px 50px;
  }
  .card-end{
    padding:0px 50px;
  }

}


@media (max-width: 865px) {

.content-title{
    font-weight: bold;
}
.content-buttons{
  gap: 1em;
}
.popular-item-buttons{
  width: 150px;
  height: 50px;
  font-size: 16px;

}
}

@media (max-width: 814px) {

  .content-cards {
    grid-template-columns: repeat(1, 1fr); 
    gap: 2em;
    width: 500px;
    height: 160%;
    
  }

  .content-buttons{
    gap: 1em;
}
.popular-item-buttons{
    width: 100px;
    height: 50px;
    font-size: 12px;
} 
}

@media (max-width:695px){
  .content-cards {
    width: 500px;
    height: 160%;
  }

}

@media (max-width: 618px) {

  .popular-item-buttons:hover{
    display: none;
 }
  .content-buttons{
    gap: 0.5em;
}

.content-title{
  font-size: 40px;
  max-width: 500px;
}
.content-section{
  margin-top: 4rem;
}
.content-cards {
  width: 100%;
  height: 140%;
}
}

@media(max-width:568px){
  .content-cards {
    width: 80%;
    height: 140%;
  }
}

@media (max-width: 526px){

  .content-title{
    font-size: 36px;
    max-width: 400px;
  }
  .content-cards {
    width: 70%;
    height: 140%;
  }
  .title{
 
    padding:0px 70px;
    
  }
  .person-book{
    padding:0px 70px;
    
  }
  .rating-container{
    padding:0px 70px;
  }
  .para-1{
    padding:0px 70px;
  }
  .para-2{
    padding:0px 70px;
  }
  .card-end{
    padding:0px 70px;
  }
  
  .card-image {
  
    padding: 20px 20px 20px 20px;
  }  
}

@media (max-width: 476px){
  .content-buttons{
    gap: 0.5em;
}


.content-cards {
  width: 70%;
  height: 140%;
}
}

@media (max-width: 415px){
  .content-buttons{
    gap: 0.05em;
}


}
