.catagory-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 8rem 0;
  }
  
  .catagory-title {
    font-size: 14px;
    color: #b46bcf; 
    margin-bottom: 2rem;
    width: 200px;
    height: 30px;
    border-radius: 50px;
    background-color: #b46bcf44;
    
  }
  
  .tagContainer {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
    gap: 1rem 2rem; /*  space between rows and columns */
    max-width: 800px;
    margin: 2rem auto; 
  }
  
  .tag {
    background: #f9f9f9; 
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.137);
    padding: 1rem 2rem; 
    border-radius: 30px; 
    font-size: 1rem; 
    color: #555; 
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
  }
  
  .tag:hover {
    background: #4f24b4c5; 
    color:white; 
    transform: scale(1.1);
  }
  